body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url(https://i.pinimg.com/originals/9a/5c/13/9a5c13a408179dbf4e6ccd8ae55d6248.jpg);
}

.nav {
  height: 50px;
  background-color: black;
}

.nav h2 {
  display: inline-block;
  margin-top: 0px;
  margin-left: 30px;
  font-size: 35px;
  color: brown;
}

.nav h3 {
  display: inline-block;
  font-size: 25px;
  margin-top: 0px;
  color: rgb(156, 155, 155);
  text-transform: none;
  font-weight: 500;
  margin-left: 80px;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgb(245, 229, 229);
  border-radius: 10px;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

h1 {
  color: rgb(15, 14, 14);
  margin-top: 0px;
}

input[type="text"] {
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

#moviesList {
  text-align: left;
  max-width: 350px;
  margin: auto;
  padding: 0px;
  background-color: rgb(140, 137, 137);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 10px;
}

.movie-item {
  margin: auto;
  margin-bottom: 0px;
  margin-top: 0px;
  background-color: rgb(190, 196, 196);
  cursor: pointer;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: background 0.5s, transform 0.5s;

}

.movie-item>img {
  width: 25%;
  height: 100px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  padding: 5px;

}

h5 {
  text-align: center;
  padding: 10px;
  font-size: 20px;
  color: red;
}

.movie-item>h4 {
  text-align: center;
  margin-top: 0px;
  flex-direction: row;
  display: flex;
  color: red;
}

.movie-item:hover {
  background-color: #f0f0f0;
  transform: translateY(-15px);
}